.wrapper {
    display: grid;
    grid-template-rows: .5fr 1fr 5fr 5fr .5fr;
    grid-gap: 10px;
    height: 720px;
}
nav {
    grid-column-start: 1;
    grid-column-end: 5;
}
header {
    grid-column-start: 1;
    grid-column-end: 5;
}

footer {
    grid-column-start: 1;
    grid-column-end: 5;
    color: white;
}
aside{
    grid-column-start: 1;
    grid-column-end: 5;     
}
aside2{
    grid-column-start: 1;
    grid-column-end: 5;     
}

.wrapper * {
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
}
/* Indenting */
.a{  
  text-indent: 50px;  
}
body{
    color:black;
}
