#Headshot{
    margin-top: 140px;
    background: url("Headshot.JPG"); 
    border-radius: 25px;
    background-repeat: repeat;

}
#intro{
    color: black;
}
#quote{
    font-size: 20px;
}
#vid{

}

/* Grid */
.wrapper {
    display: grid;
    grid-template-columns: .5fr 7fr;
    grid-template-rows: .5fr .5fr 5fr .5fr;
    grid-gap: 15px;
    height: 720px;

}
nav {
    grid-column-start: 1;
    grid-column-end: 5;
}
header {
    grid-column-start: 1;
    grid-column-end: 5;
}

footer {
    grid-column-start: 1;
    grid-column-end: 5;
}
row4{
    grid-column-start: 1;
    grid-column-end: 5;     
}

.wrapper * {
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
}

/* When the browser is at least 1000px and above */
@media screen and (max-width: 1000px) {
  #intro{
    font-size: 20px;
    margin: -150px;
    padding-top: 700px;
  }
  #Headshot{
    margin-top: 140px;
    margin-left: -525px;
    background: url("Headshot.JPG"); 
    border-radius: 25px;
    background-repeat: repeat;

  }
  #resume{
    color: white;
    margin-left: -525px;
  } 
  h3{
    margin-left: -525px;    
  }
  #quote{
    font-size: 20px;
    margin-left: -525px; 
    padding-top: 150px;
  }
  footer {
    margin-left: -525px;
  }
  #vid{
   margin-left: -525px;  
   width="560";
   height="315";
  }
}

