body{
    color: black;
}
#Headshot{
    margin-top: 50px;
    background: url("Headshot.JPG"); 
    border-radius: 25px;
    background-repeat: repeat;
    width: 200px; 
    height: 275;

}
.intro{
    text-indent: 50px;  
}
#quote{
    font-size: 20px;
    color: white;
}
#left{
    margin: -55px;
    margin-top: 5px;
}

/* Grid */
.wrapper {
    display: grid;
    grid-template-columns: .1fr 3fr;
    grid-template-rows: .5fr .5fr 5fr .5fr;
    grid-gap: 15px;
    height: 720px;

}
nav {
    grid-column-start: 1;
    grid-column-end: 5;
}
header {
    grid-column-start: 1;
    grid-column-end: 5;
    padding-bottom: 15px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 5;
}
#div{
    grid-column-start: 1;
    grid-column-end: 5; 
    padding-top: 50px;
}

.wrapper * {
  
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
}

/* When the browser is at least 1000px and above */
@media screen and (max-width: 1000px) {
  #intro{
    margin: -150px;
    padding-top: 700px;
  }
  #Headshot{
    margin-top: 400px;
    margin-left: -25px;
    background: url("Headshot.JPG"); 
    border-radius: 25px;
    background-repeat: repeat;
    width: 200px; 
    height: 275;
  }
  #resume{
    color: white;
    margin-left: -25px;
  } 
  h3{
    margin-left: -530px;    
  }
  #quote{
    margin-left: -150px;
    margin-right: -150px;
    margin-top: 30px;
  }
  aside{
    margin-top: 400px;  
  }
 .intro{
    text-indent: 50px;  
    margin-right: -530px;   
  }
  #vid{
    margin-left: -180px;
  }
  #left{
    margin: -55px;
    margin-top: 5px;
    margin-left: -20px;
  } 
  #Headshot{
  }
}

