.wrapper {
    display: grid;
    grid-template-columns: .5fr 7fr;
    grid-template-rows: .5fr .5fr 1fr .5fr;
    grid-gap: 10px;
    height: 720px;
}
nav {
    grid-column-start: 1;
    grid-column-end: 5;
}
header {
    grid-column-start: 1;
    grid-column-end: 5;
}
footer {
    grid-column-start: 1;
    grid-column-end: 5;
}
.wrapper * {
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
}