
.nav {
    background-color: #acd3ac;
    color: #fff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.nav > li {
    margin: 0;
    padding-right: 0 25px 0 25px; 
    border: 0;
    display: inline-block; 
    width: 125px;
}


.nav > li > a:hover {
    color: beige;
}

ul {
    list-style-type: none;
    margin: 0;
    
}

li a {
    font-family: 'Monospace', 'Courier New';
    text-decoration: none;
    color: #fff;
}