
.nav {
    background-color: #acd3ac;
    color: #fff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.nav > li {
    display: inline-block;
    padding-right: 0 25px 0 25px;
}

.nav > a {
    text-decoration: none;
    color: #fff;
}

.nav > li > a:hover {
    color: #c1c1c1;
}