body{
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #acd3ac;
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav > li {
    display: inline-block;
    padding-right: 0 25px 0 25px;
    color: #fff;
    
}

.nav > a {
    text-decoration: none;
    color: #fff;
    font-family: 'Monospace', 'Courier New';
}

.nav > li > a:hover {
    color: #c1c1c1;
}