/* External style sheet - Home Page */
Body{
    background-color: #4aa199;
    font-family: sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

h3{
    color:#90ce81;
    font-size: 20px;
}
h1{
   color: #90ce81;
}

footer{
    color: white;
}

#resume{
    color: white;
}

div{
  padding-left: 200px;
  padding-right: 200px;
  margin: 0px;
}

/* Indenting */
.a{  
  text-indent: 50px;    
}

/* Selects the first letter of a <p> */
.first-letter::first-letter{
  font-size: 500%;
  color: #90ce81;
}
#Headshot{
    margin-top: 140px;
    background: url("Headshot.JPG"); 
    border-radius: 25px;
    background-repeat: repeat;

}
#intro{
    color: black;
}
#quote{
    font-size: 20px;
}


.wrapper {
    display: grid;
    grid-template-columns: .5fr 7fr;
    grid-template-rows: .5fr .5fr 5fr .5fr;
    grid-gap: 15px;
    height: 720px;

}
nav {
    grid-column-start: 1;
    grid-column-end: 5;
}
header {
    grid-column-start: 1;
    grid-column-end: 5;
}

footer {
    grid-column-start: 1;
    grid-column-end: 5;
}
row4{
    grid-column-start: 1;
    grid-column-end: 5;     
}

.wrapper * {
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
}




/*

* {margin: 0; padding: 0;}
body {margin: 1% auto; width: 90%; border: 1px solid black;}


header {border-bottom: 1px solid black;}
nav {border-bottom: 1px solid black;}
main {float: right; height: 350px; width: 84%;}
aside {float: left; width: 15%; height: 350px; border-left: 1px solid black;}
footer {border-top: 1px solid black; clear: both;}


h1 {padding: 10px; font-size: 14pt;}


@media screen and (max-width:850px) { 
    main { 
        background-color:green; 
    } 
}
@media screen and (max-width:350px) { 
    main { 
        background-color:red; 
    } 
}   
*/
