/* External style sheet - Home Page */
Body{
    background-color: #4aa199;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    position: fixed;
    padding-right: 100px;
    color:white;
    text-align: center;
    z-index: -1;
}